ui_*
logs/
sqlite3.h
debug/
html/
*.so
*.so*
*.user*
obj/
*.dll
*~
*.log
data/
scripts/createMsSqlDistance.sql
scripts/CustomTileOverlay.js
scripts/ExtDraggableObject.js
scripts/mbtiles.php
scripts/*.png
scripts/*.css
scripts/opacityControl.js
scripts/popmenu.js
scripts/qwebchannel.js
scripts/WebChannel.js